* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;
    background-color: black;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 16vh;
    background-color: #000000;
}

.navbar2{
    width: 100%;
    height: 16vh;
}

/* DROPDOWN */
#Work {
    position: relative;
}

#dropdown {
    position: absolute;
    top: 16vh;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(10, 10, 10);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

#Work:hover #dropdown {
    opacity: 0.9;
    visibility: visible;
}

#dropdown ul{
    margin-left: 10%;
}

#dropdown li{
    margin-top: 1%;
    font-size: 20px;
    color: white;
}

/* NAV CONTENT */
#icon{
    margin-top: -10px;
    height: 17vh;
    margin-left: 5%;
}

.navbar ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    gap: 50px;
}

.navbar ul li{
    margin-top: 13%;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/* WALLPAPER */
#wallpaper{
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#wallpaper img{
    width: 40vw;
    height: auto;
}

/* BOX SECTION */
#box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: auto;
    font-size: 20px;
    background-color: #efeeee;
    padding: 20px;
}

/* REMOVE UNDERLINE */
.box a{
    text-decoration: none;
    color: #000000;
    display: block;
}

.box img{
    margin-top: 5%;
    width: 80%;
    border: 10px solid black;
}

.box h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}

.box p{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}

/* SPACING */
#extraspace{
    width: 100%;
    height: 30vh;
}

#extraspace2{
    width: 100%;
    height: 1vh;
}

/* FOOTER */
#greybox{
    margin: 2.5%;
    width: 95%;
    height: 35vh;
    background-color: white;
    display: flex;
    border-radius: 50px;
}

.whitebox{
    width: 40%;
    height: 30vh;
    background-color: black;
    margin: 1.5%;
    margin-left: 5%;
    border-radius: 50px;
}

.whitebox a{
    text-decoration: none;
}

.whitebox h1{
    font-size: 30px;
    color: white;
    margin-left: 35%;
    margin-top: 10px;
}

#links{
    display: flex;
    background-color: black;
}

#instagram{
    margin-top: 25%;
    margin-left: 80%;
    width: 80px;
}

#youtube{
    margin-top: 35%;
    margin-left: 220%;
    width: 80px;
}

#facebook{
    margin-left: 50%;
    margin-top: 5%;
    width: 40px;
}

.whitebox p{
    margin-top: 5%;
    margin-left: 15%;
    font-size: 30px;
    color: white;
}

/* BLOG */
#latestBlogs {
    margin-top: 20px;
    text-align: center;
}

#latestBlogs h1{
    font-size: 40px;
    color: white;
    margin-left: 18vw ;
}

#latestBlogs h3{
    color: #5a6fe9;
    font-size: 20px;
    margin-left: 50%;
}

.blog-img{
    width:300px;
    height:120px;
    overflow:hidden;
    margin:auto;
}

.blog-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}

#blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 350px;
    margin: 20px;
}

.blog-card {
    background: black;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid white;
    width: 320px;
    height: 220px; 
}

.blog-card h2 {
    font-size: 20px;
    color: white;
}

.blog-card p {
    font-size: 10px;
    color: white;
}

.blog-card a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {
    #latestBlogs {
        margin-top: 10px;
    }
    .box h1 {
        font-size: 28px;
    }

    .box p {
        font-size: 16px;
    }

    #latestBlogs h1 {
        font-size: 24px;
        margin-left: 0;
    }

    #latestBlogs h3 {
        margin-left: 0;
    }

    #links {
        justify-content: center;
        gap: 20px;
    }

    #instagram, #youtube, #facebook {
        margin: 0;
        width: 40px;
    }
}
