* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 16vh;
    background-color: #000000;
}
.navbar2{
    display: flex;
    width: 100vw;
    height: 16vh;
}
#Work {
    position: relative;
}

#dropdown {
    position: fixed;
    top: 16vh;
    left: -70%;
    width: 100vw;
    height: 10vh;
    background-color: rgb(10, 10, 10);
    

    padding: 10px 0;
    margin: 0;
    list-style: none;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    gap: 200px;
    margin-left: 70%;
}
#Work:hover #dropdown {
    opacity: 0.9;
    visibility: visible;
}
#dropdown ul{
    margin-left: -10%;
}
#dropdown li{
    margin-top: 1.2%;
    font-size: 20px;
    color: white;
}

#icon{
    margin-top: -10px;
    height: 17vh;
    width: auto;
    margin-left: 10%;
}
.navbar ul {
    position: relative;
    list-style-type: none;
    left: 50vw;
    display: flex;
    gap: 50px;
}
.navbar ul li{
    margin-top: 13%;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

#wallpaper{
    margin-left: 10vw;
    display: flex;
    align-items: flex-start;
}
#wallpaper img{
    width: 40vw;
    height: 82vh;
}

#box{
    display: flex;
    margin-left: 1%;
}
.box {
    margin: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 80vh;
    font-size: 20px;
    background-color: #efeeee;
}

.box img{
    margin-top: 5%;
    margin-left: 9.5%;
    width: 80%;
    border: 10px solid black;
}
.box a{
    text-decoration: none;
    color: #000000;
    font-size: 7.5px;
}
.box h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}
.box p{
    text-align: center;
    margin: 2%;
    margin-top: 5%;
    font-size: 30px;
}

#extraspace{
    width: 100vw;
    height: 30vh;
}
#extraspace2{
    width: 100vw;
    height: 0.1vh;
}
#greybox{
    margin: 2.5%;
    width: 95vw;
    height: 35vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    bottom: 2.5%;
    border-radius: 50px;
}
.whitebox{
    width: 40vw;
    height: 30vh;
    background-color: #000000;
    margin: 1.5%;
    margin-left: 5%;
    border-radius: 50px;
}
.whitebox h1{
    font-size: 30px;
    color: #ffffff;
    margin-left: 35%;
    margin-top: 10px;
}
#links{
    display: flex;
    background-color: #000000;
}
#instagram{
    margin-top: 25%;
    margin-left: 80%;
    width: 80px;
    height: 80px;
}
#youtube{
    margin-top: 35%;
    margin-left: 220%;
    height: 60px;
    width: 80px;
}
#facebook{
    margin-left: 50%;
    margin-top: 5%;
    width: 40px;
    height: 70px;
}
.whitebox p{
    margin-top: 5%;
    margin-left: 15%;
    font-size: 30px;
    color: #ffffff;
}
.whitebox a{
    text-decoration: none;
}

/* blog */

#latestBlogs {
    margin-top: 25vh;
    text-align: center;
    height: auto;
}
#latestBlogs h1{
    font-size: 40px;
    color: white;
    margin-top: -26vh;
    margin-left: 18vw ;
}
#latestBlogs h3{
    color: #5a6fe9;
    font-size: 20px;
    margin-left: 50%;
    text-decoration: none;    
}
.blog-img{
    width:300px;
    height:120px;
    overflow:hidden;
    margin:auto;
    border-radius:10px;
}

.blog-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
#blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 350px;
    margin: 20px;
}
.blog-card {
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid white;
    max-width: 50vw;
    width: 320px;
    height: 220px; 
}
.blog-card h2 {
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
}
.blog-card p {
    font-size: 10px;
    margin: 5px 0;
    color: #ffffff;
}
.blog-card a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.blog-card:hover{
    background: rgb(255, 255, 255);
    border: 10px solid rgb(0, 0, 0);
}

.blog-card:hover a{
    color: rgb(0, 0, 0);
}

.blog-card:hover p{
    color: rgb(0, 0, 0);
}

.blog-card:hover h2{
    color: rgb(0, 0, 0);
}