* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 16vh;
    background-color: #000000;
}
.navbar2{
    display: flex;
    width: 100vw;
    height: 16vh;
}
#Work {
    position: relative;
}

#dropdown {
    position: fixed;
    top: 16vh;
    left: -70%;
    width: 100vw;
    height: 10vh;
    background-color: rgb(10, 10, 10);
    

    padding: 10px 0;
    margin: 0;
    list-style: none;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    gap: 200px;
    margin-left: 70%;
}
#Work:hover #dropdown {
    opacity: 0.9;
    visibility: visible;
}
#dropdown ul{
    margin-left: -10%;
}
#dropdown li{
    margin-top: 1.2%;
    font-size: 20px;
    color: white;
}

#icon{
    margin-top: -10px;
    height: 17vh;
    width: auto;
    margin-left: 10%;
}
.navbar ul {
    position: relative;
    list-style-type: none;
    left: 50vw;
    display: flex;
    gap: 50px;
}
.navbar ul li{
    margin-top: 13%;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

h1{
    margin-top: 7%;
    margin-left: 5%;
    color: #ffffff;
    font-size: 100px;
    font-weight: 500;
}
h6{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-size: 40px;
    font-weight: 100;
}